h2{
  color: green;
}
h1 {
  background-color: red;
  text-align: center;
  color: #fff;
  /* padding: 70px; */
  /* padding-top: 50px; */
  padding: 10px 20px 30px 70px;
  /* padding-bottom: 50px; */
  /* padding-right: 60px; */
  /* padding-left: 100px; */
}
button {
  padding: 20px;
  background-color: #272935;
  color: white;
  border-radius: 30px 0;
}
button:hover{
  background-color: #fff;
  color: #272935;
  border-radius: 0 30px;
  transition: 0.3s;
}